header {
    background-color: #404040;
    text-align: center;
    width: 100%;
    padding: 20px;
}

header h1 {
    color: white;
}

aside {
    position: absolute;
    height: 100%;
    padding-right: 10px;
    float: left;
    background-color: #F0F0F0
}

.aside-p {
    margin-top: 5px;
    margin-left: 5px;
}

.form-inline {
    margin-left: 10px;
}

.jumbotron {
    height:100%;
    width: 75%;
    float: right;
    margin-top: 20px;
    margin-right: -2px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #A9A9A9;
    padding-top: 10px;
}

.info {
    margin-bottom: 20px;
    margin-top: auto;
}

.card {
    clear: both;
    margin-left: 25%;
    padding-bottom: 50px;
    background-color: #0066FF;
    color: white;

}

